

<div  style="background-color:#5e5e5e; color:#FFFFFF">	
		<br>
		  <div class="container">
			<div class="row">
			  <div class="col-sm-5">
				  <p style="color:#FFFFFF"><?php echo $bottom_TEL;?>：0086-371-67988888/67981888&nbsp;&nbsp;<?php echo $bottom_FAX;?>：0086-371-67992952</p>
				  <p style="color:#FFFFFF"><?php echo $bottom_ADD;?>：<?php echo $bottom_ADDInfo;?></p>
				  <p style="color:#FFFFFF"><?php echo $bottom_EMAIL;?>：sales@smartgen.cn</p>
			  </div>
			 </div>
		  </div>
		 <div class="container">
           <div class="row">
		     <div class="col-xs-12 text-center">
			  <h3 style="color:#dddddd;"><?php echo $bottom_Slogan;?></h3>
			 </div>
		   </div>
		  </div>
</div>
		<br>
		<br>
