<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
		<script src="view/front/bootstrap/js/jquery-1.11.2.min.js"></script>
		<!-- 引入 Bootstrap -->
		<link href="view/front/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<script src="view/front/bootstrap/js/bootstrap.min.js"></script>
		<!-- 引入 lightbox -->
		<link rel="stylesheet" href="view/front/lightbox/css/lightbox.min.css">
		<!-- 引入 自定义样式表 -->
		<link href="view/front/usercss/l_style.css" rel="stylesheet">
		<!-- 引入 自定义样式表 -->
		<script src="view/front/userjs/l_script.js"></script>
		<!-- 包括所有已编译的插件 -->
		<link href="view/front/usercss/meidastyles.css" rel="stylesheet">
		<!-- HTML5 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
		<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
		<!--[if lt IE 9]>
		 <script src="view/front/bootstrap/js/html5.js"></script>
		 <script src="view/front/bootstrap/js/respond.src.js"></script>
		<![endif]-->
		<title>众智科技-众智电话</title>
		<body>
		<!--导航栏-->
	<div class="container">
		<div class="row">
				<div class="col-xs-12">
					<h2 class="text-center">
					<a style="color:#FF9900; text-decoration:none" href="index.php"><?php echo $product_information;?></a>
					</h2>
				</div>
		</div>
	</div>
			<br>
			<br>
			
				<ul id="myTab" class="nav nav-tabs nav-justified">
				   <li class="text-muted"><a href="aboutus.php" target="_self"><h4 class="text-muted"><?php echo $menu_Profile;?></h4></a></li>
				   <li class="text-muted"><a href="culture.php" target="_self"><h4 class="text-muted"><?php echo $menu_Culture;?></h4></a></li>
				   <li  class="text-muted"><a href="TestingRoom.php" target="_self"><h4 class="text-muted"><?php echo $menu_TestingRoom;?></h4></a></li>
				   <li  class="text-muted"><a href="domain.php" target="_self"><h4 class="text-muted"><?php echo $domain_Culture;?></h4></a></li>
				   <li  class="active"><a href="telephone.php" target="_self"><h4 class="text-muted"><?php echo $telephone_name;?></h4></a></li>
				</ul>
			</div>
			<br>	
			<br>	
<table width="750" height="1380" border="1" align="center">
   
    <td><table width="150" height="1380" border="1" align="left" >
	   <tr align="center" valign="middle">
       <td bgcolor="#cccccc"><strong>部门</td>
	   </tr>
	   <tr align="center" valign="middle">
	   <td>生产</td>
	   </tr>
	   <tr align="center" valign="middle">
	   <td>生产/设备工艺</td>
	   </tr>
	   <tr align="center" valign="middle">
	   <td>生产/设备工艺</td>
	   </tr>
	   <tr align="center" valign="middle">
	   <td>生产/电子</td>
	   </tr>
	   <tr align="center" valign="middle">
	   <td>生产/电控</td>
	   </tr>
	   <tr align="center" valign="middle">
	   <td>采购中心</td>
	   </tr>
	   </tr> <tr align="center" valign="middle">
	   <td>采购中心</td>
	    </tr>
	   </tr> <tr align="center" valign="middle">
	   <td>采购中心</td>
	   </tr>
	   <tr align="center" valign="middle">
	   <td>生产/物控/仓库</td>
	   </tr>
	   </tr> <tr align="center" valign="middle">
	   <td>生产/物控/仓库</td>
	    </tr>
	   </tr> <tr align="center" valign="middle">
	   <td>生产/物控/仓库</td>
	   </tr>
	   </tr> <tr align="center" valign="middle">
	   <td>质量中心</td>
	    </tr>
		</tr> <tr align="center" valign="middle">
	   <td>质量中心</td>
	    </tr>
	   </tr> <tr align="center" valign="middle">
	   <td>质量中心</td>
	    </tr>
	   </tr> <tr align="center" valign="middle">
	   <td>质量中心</td>
	   </tr>
	   <tr align="center" valign="middle">
	   <td>质量中心</td>
	   </tr>
	   </tr> <tr align="center" valign="middle">
	   <td>质量中心</td>
	    </tr>
	   </tr> <tr align="center" valign="middle">
	   <td>质量中心</td>
	   </tr>
	   </tr> <tr align="center" valign="middle">
	   <td>技术中心</td>
	   </tr>
	   </tr> <tr align="center" valign="middle">
	   <td>技术中心</td>
	   </tr>
	   </tr> <tr align="center" valign="middle">
	   <td>技术中心</td>
	   </tr>	   
	   </tr> <tr align="center" valign="middle">
	   <td>研发</td>
	   </tr>
	   </tr> <tr align="center" valign="middle">
	   <td>研发</td>
	   </tr>
	    </tr> <tr align="center" valign="middle">
	   <td>研发</td>
	   </tr>
	    </tr> <tr align="center" valign="middle">
	   <td>研发</td>
	   </tr>
	    </tr> <tr align="center" valign="middle">
	   <td>研发</td>
	   </tr>
	   </tr> <tr align="center" valign="middle">
	   <td>研发</td>
	   </tr>
	    </tr> <tr align="center" valign="middle">
	   <td>研发</td>
	   </tr> 
	   </tr> <tr align="center" valign="middle">
	   <td>研发</td>
	   </tr>
	    </tr> <tr align="center" valign="middle">
	   <td>研发</td>
	   </tr>
	    </tr> <tr align="center" valign="middle">
	   <td>研发</td>
	   </tr>
	    </tr> <tr align="center" valign="middle">
	   <td>研发</td>
	   </tr>
	   </tr> <tr align="center" valign="middle">
	   <td>研发</td>
	   </tr>
	    </tr> <tr align="center" valign="middle">
	   <td>研发</td>
	   </tr>
	   </tr> <tr align="center" valign="middle">
	   <td>营销</td>
	   </tr>
	    </tr> <tr align="center" valign="middle">
	   <td>营销</td>
	   </tr>
	    </tr> <tr align="center" valign="middle">
	   <td>营销</td>
	   </tr>
	    </tr> <tr align="center" valign="middle">
	   <td>营销</td>
	   </tr>
	    </tr> <tr align="center" valign="middle">
	   <td>营销</td>
	   </tr>
	    </tr> <tr align="center" valign="middle">
	   <td>营销</td>
	   </tr>
	    </tr> <tr align="center" valign="middle">
	   <td>营销</td>
	   </tr>
	    </tr> <tr align="center" valign="middle">
	   <td>营销</td>
	   </tr>
	    </tr> <tr align="center" valign="middle">
	   <td>营销</td>
	   </tr>
	    </tr> <tr align="center" valign="middle">
	   <td>营销</td>
	   </tr>
	   </tr> <tr align="center" valign="middle">
	   <td>企管</td>
	   </tr>
	    </tr> <tr align="center" valign="middle">
	   <td>企管</td>
	   </tr>
	    </tr> <tr align="center" valign="middle">
	   <td>企管</td>
	   </tr>
	    </tr> <tr align="center" valign="middle">
	   <td>财务</td>
	   </tr>
	    </tr> <tr align="center" valign="middle">
	   <td>财务</td>
	   </tr>
	   </tr> <tr align="center" valign="middle">
	    <td>总经办</td>
	   </tr>
	    </tr> <tr align="center" valign="middle">
	   <td>总经办</td>
	   </tr>
	 </table></td>
	
     <td><table width="550" height="1380" border="1" align=”center">
       <tr align="center"   valign="middle">
        <td bgcolor="#cccccc"><strong>姓名</td>
       </tr>
	    <tr align="center" valign="middle">
        <td>郭亚辉</td>
       </tr>
	    <tr align="center" valign="middle">
        <td>王海川、曹梦娟、易娜、冯向远、苏帅强、庞帅、张鹏</td>
       </tr>
	    <tr align="center" valign="middle">
        <td>王永建</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>王珊</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>郐晓梅、周昆仑</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>胡雪梅</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>陈燕超、张学静</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>王洪杰</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>电子原料库、冯国敏、雷丽杰</td>
       </tr>
	    <tr align="center" valign="middle">
        <td>成品库、赵远霞、杜晓峰</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>翟明、朱利娟</td>
       </tr>
	   <tr align="center"   valign="middle">
        <td>罗彤、艾可可</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>文婉君</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>档案室、杜红利</td>
       </tr>
	   <tr align="center"   valign="middle">
        <td>一楼来料检验</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>二楼来料检验</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>李鹏</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>EMC试验站（检测中心）、王乐、普兰红、邵万里</td>
       </tr>
	   <tr align="center"   valign="middle">
        <td>徐铁山、徐金星</td>
       </tr>
	   <tr align="center"   valign="middle">
        <td>杜占军</td>
       </tr>
	   <tr align="center"   valign="middle">
        <td>杨凯</td>
       </tr>
	    <tr align="center" valign="middle">
        <td>刘蕊、马庆新</td>
       </tr>
	   <tr align="center"   valign="middle">
        <td>王磊</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>张倩倩、李桂东</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>王晓乐、苏孟佳、张双洋</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>王向前、李朝辉、冯斌</td>
       </tr>
	    <tr align="center" valign="middle">
        <td>张威、刘霞丽、刘晓东、陈亚军</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>徐红宗</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>水清华、董俊丽、梁爽</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>吴少飞、姜涛</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>三楼实验室、尚志兴、郭政平、马清春、李贺堂</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>二楼研发、赵兴华、王付松、王艺朋、臧合生、王相结、司建政、丁鹏飞</td>
       </tr>
	   <tr align="center"   valign="middle">
        <td>马雷、李勇、于光枭、高昌盛</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>刘晓祥、朱伟燕</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>道瑞娟</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>张雯</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>张翠翠、崔会娟</td>
       </tr>
	    <tr align="center" valign="middle">
        <td>徐倩、李闪闪</td>
       </tr>
	    <tr align="center" valign="middle">
        <td>朱惠惠、恽青</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>宋耀军</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>营销北办公室</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>姚关保、高松伟、周伟、周志田</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>维修组、张永飞、王伟丽、刘成</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>韩柯</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>刘超、郭爽、张冬蕾</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>赵会勤、周玉静、吕茵、张建平</td>
       </tr> 
	    <tr align="center" valign="middle">
        <td>门卫室</td>
       </tr>
	     <tr align="center"   valign="middle">
        <td>皇甫亚丽、吕艺璇、赵鑫</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>杨新艳、苏晓贞</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>崔文峰</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>邓彦峰、常亚雨</td>
       </tr>
	</table></td>
		
	 <td><table width="150" height="1380" border="1" align="right">
       <tr align="center"   valign="middle">
        <td bgcolor="#cccccc"><strong>分机号</td>
       </tr>
	    <tr align="center" valign="middle">
        <td>8228</td>
       </tr>
	   <tr align="center" valign="middle">
        <td>8008</td>
       </tr>
	   <tr align="center" valign="middle">
        <td>8115</td>
       </tr>
	   <tr align="center"   valign="middle">
        <td>8206</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>8207</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>8111</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>8115</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>8228</td>
       </tr>
	   <tr align="center"   valign="middle">
        <td>8121</td>
       </tr> 
	    <tr align="center"   valign="middle">
        <td>8200</td>
       </tr> 
	   <tr align="center"   valign="middle">
        <td>8205</td>
       </tr>
	   <tr align="center"   valign="middle">
        <td>8228</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>8206</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>8330</td>
       </tr>
	     <tr align="center" valign="middle">
        <td>8121</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>8200</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>8111</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>8310</td>
       </tr>
	   <tr align="center"   valign="middle">
        <td>8207</td>
       </tr>
	   <tr align="center"   valign="middle">
        <td>8601</td>
       </tr>
	   <tr align="center"   valign="middle">
        <td>8228</td>
       </tr>
	    <tr align="center" valign="middle">
        <td>8315</td>
       </tr>
	   <tr align="center"   valign="middle">
        <td>8300</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>8312</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>8308</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>8301</td>
       </tr>
	    <tr align="center" valign="middle">
        <td>8305</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>8307</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>8306</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>8303</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>8311</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>8108</td>
       </tr>
	   <tr align="center"   valign="middle">
        <td>8503</td>
       </tr>
	   <tr align="center"   valign="middle">
        <td>8302</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>8109</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>8112</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>8110</td>
       </tr>
	    <tr align="center" valign="middle">
        <td>8566</td>
       </tr>
	    <tr align="center" valign="middle">
        <td>8105</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>8106</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>8201</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>8113</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>8202</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>8029</td>
       </tr>
	    <tr align="center"   valign="middle">
        <td>8000</td>
       </tr>
	    <tr align="center" valign="middle">
        <td>8116</td>
       </tr>
	    <tr align="center" valign="middle">
        <td>8588</td>
       </tr>
	    <tr align="center" valign="middle">
        <td>8166</td>
       </tr>
	    <tr align="center" valign="middle">
        <td>8103</td>
       </tr>
	    <tr align="center" valign="middle">
        <td>8366</td>
       </tr>
	    <tr align="center" valign="middle">
        <td>8028</td>
       </tr>  	   
	  </table></td>
</table>		
			
		
			<br>
	 <?php include(ROOT.'bottom.php');?>	
		  
	     </body>
</html>
