<!-- BEGIN LAYOUT--> 
<layout name="layout" />
	<!-- BEGIN CONTAINER -->
	
	<div class="page-container  page-full-width">
	
		<!-- 页面光被导航栏覆盖掉 -->
		
		<div style="margin-top:42px;">
		
		<!-- BEGIN PAGE -->
	
		<div class="page-content">
		
			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">
			
				<br>
				
				<!-- BEGIN PAGE CONTENT-->
		
					<div class="row-fluid">
		
						<div class="span12">
		
							<!-- BEGIN EXAMPLE TABLE PORTLET-->
		
							<div class="portlet box light-grey">
		
								<div class="portlet-title">
		
									<div class="caption"><i class="icon-globe"></i>{$pagetitle}</div>
		
									<div class="tools">
		
										<a href="javascript:;" class="collapse"></a>
		
									</div>
		
								</div>
		
								<div class="portlet-body">
		
									<div class="clearfix">
		
										<div class="btn-group">
											<button id="lc_column_add" name="{:U('Column/add')}"  class="btn green">
		
												 {$Think.lang.lc_add} <i class="icon-plus"></i>
		
											</button>
										</div>
										<div class="btn-group">
											<button id="lc_column_edit" name="{:U('Column/edit')}"  class="btn purple">
		
												 {$Think.lang.lc_edit} <i class="icon-edit"></i>
		
											</button>
										</div>
										<div class="btn-group">
											<button id="lc_column_del" name="{:U('Column/del')}"  class="btn black">
		
												 {$Think.lang.lc_del} <i class="icon-remove"></i>
		
											</button>
										</div>
		
									</div>
		
									<table class="table table-striped table-bordered table-hover" id="sample_1">
		
										<thead>
		
											<tr>
		
												<th style="width:8px;"><input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" /></th>
												<th class="hidden-480">栏目名称</th>
												<th class="hidden-480">对应模块</th>
												<th class="hidden-480">对应字段</th>
												<th class="hidden-480">顺序</th>
												<th class="hidden-480">宽度</th>
		
											</tr>
		
										</thead>
		
										<tbody>
											
											<foreach name="datalist" item="d">
												<tr class="odd gradeX">
		
													<td><input type="checkbox" class="checkboxes" value="{$d['id']}" /></td>
													<td class="hidden-480">{$d['name']}</td>
													<td class="hidden-480">{$d['module']}</td>
													<td class="hidden-480">{$d['field']}</td>
													<td class="hidden-480">{$d['rank']}</td>
													<td class="hidden-480">{$d['width']}</td>
			
												</tr>
											
											</foreach>
		
										</tbody>
		
									</table>
									
									<!--添加数据层开始-->
									
									<div id="add" style="display:none;" title="添加栏目">
									<br>
										<div class="row-fluid">
		
											<div class="span12">
						
												<!-- BEGIN VALIDATION STATES-->
						
												<div class="portlet box green">
						
													<div class="portlet-title">
						
														<div class="caption"><i class="icon-reorder"></i>添加栏目</div>
														<div class="tools">
		
															<button id="removeadd" class="btn mini black">关闭</button>
						
														</div>
		
		
													</div>
						
													<div class="portlet-body form">
						
														<!-- BEGIN FORM-->
						
														<form name="{:U('Column/add')}" id="form_column_add" class="form-horizontal">
						
															<div class="alert alert-error hide">
						
																<button class="close" data-dismiss="alert"></button>
						
																您输入的信息有误，请重新输入！
						
															</div>
						
															<div class="alert alert-success hide">
						
																<button class="close" data-dismiss="alert"></button>
						
																完成验证！
						
															</div>
															
															<div class="control-group">
						
																<label class="control-label">模块<span class="required">*</span></label>
						
																<div class="controls">
						
																	<select class="span6 m-wrap" id="column_module_a" name="column_module_a">
																		
																		<foreach name="module" item="m">
																			
																			<option value="{$m['id']}">{$m['value']}</option>
																		
																		</foreach>
						
																	</select>
						
																</div>
						
															</div>
						
															<div class="control-group">
						
																<label class="control-label">栏目名称<span class="required">*</span></label>
						
																<div class="controls">
						
																	<input type="text" name="column_name_a" id="column_name_a" data-required="1" class="span6 m-wrap"/>
						
																</div>
						
															</div>
						
															<div class="control-group">
						
																<label class="control-label">栏目字段</label>
						
																<div class="controls">
						
																	<input name="column_field_a" id="column_field_a" type="text"data-required="1" class="span6 m-wrap"/>
						
																</div>
						
															</div>
															
															<div class="control-group">
						
																<label class="control-label">排序</label>
						
																<div class="controls">
						
																	<input name="column_rank_a" id="column_rank_a" type="text" class="span6 m-wrap" value=""/>
						
																</div>
						
															</div>
															<div class="control-group">
						
																<label class="control-label">宽度</label>
						
																<div class="controls">
						
																	<input name="column_width_a" id="column_width_a" type="text" class="span6 m-wrap" value=""/>
						
																</div>
						
															</div>
															
															<div class="form-actions">
						
																<button type="submit" class="btn green">添加</button>
						
															</div>
						
														</form>
						
														<!-- END FORM-->
						
													</div>
						
												</div>
						
												<!-- END VALIDATION STATES-->
						
											</div>
						
										</div>
		
		
										
									</div>
									
									<!--添加数据层结束-->
									
									<!--修改数据层开始-->
									
									<div id="edit" style="display:none;" title="修改栏目">
									<br>
										<div class="row-fluid">
		
											<div class="span12">
						
												<!-- BEGIN VALIDATION STATES-->
						
												<div class="portlet box green">
						
													<div class="portlet-title">
						
														<div class="caption"><i class="icon-reorder"></i>修改栏目</div>
														<div class="tools">
		
															<button id="removeedit" class="btn mini black">关闭</button>
						
														</div>
		
		
													</div>
						
													<div class="portlet-body form">
						
														<!-- BEGIN FORM-->
						
														<form name="{:U('Column/edit')}" id="form_column_edit" class="form-horizontal">
						
															<div class="alert alert-error hide">
						
																<button class="close" data-dismiss="alert"></button>
						
																您输入的信息有误，请重新输入！
						
															</div>
						
															<div class="alert alert-success hide">
						
																<button class="close" data-dismiss="alert"></button>
						
																完成验证！
						
															</div>
						
															<div class="control-group">
						
																<label class="control-label">模块<span class="required">*</span></label>
						
																<div class="controls">
						
																	<select class="span6 m-wrap" id="column_module_e" name="column_module_e">
																		
																		<foreach name="module" item="m">
																			
																			<option value="{$m['id']}">{$m['value']}</option>
																		
																		</foreach>
						
																	</select>
						
																</div>
						
															</div>
						
															<div class="control-group">
						
																<label class="control-label">栏目名称<span class="required">*</span></label>
						
																<div class="controls">
						
																	<input type="text" name="column_name_e" id="column_name_e" data-required="1" class="span6 m-wrap"/>
						
																</div>
						
															</div>
						
															<div class="control-group">
						
																<label class="control-label">栏目字段</label>
						
																<div class="controls">
						
																	<input name="column_field_e" id="column_field_e" type="text"data-required="1" class="span6 m-wrap"/>
						
																</div>
						
															</div>
															
															<div class="control-group">
						
																<label class="control-label">排序</label>
						
																<div class="controls">
						
																	<input name="column_rank_e" id="column_rank_e" type="text" class="span6 m-wrap" value=""/>
						
																</div>
						
															</div>
															<div class="control-group">
						
																<label class="control-label">宽度</label>
						
																<div class="controls">
						
																	<input name="column_width_e" id="column_width_e" type="text" class="span6 m-wrap" value=""/>
						
																</div>
						
															</div>
															<input type="hidden" id="column_id_e"/>
															<div class="form-actions">
						
																<button type="submit" class="btn green">修改</button>
						
															</div>
						
														</form>
						
														<!-- END FORM-->
						
													</div>
						
												</div>
						
												<!-- END VALIDATION STATES-->
						
											</div>
						
										</div>
		
		
										
									</div>
									
									<!--修改数据层结束-->
		
								</div>
		
							</div>
		
							<!-- END EXAMPLE TABLE PORTLET-->
		
						</div>
		
					<!-- END PAGE CONTENT-->
				
				</div>
			
				<!-- END PAGE CONTAINER--> 

			</div>
	
		<!-- END PAGE -->
		</div>
		
	</div>

	<!-- END CONTAINER -->
	
</div>

<!-- END LAYOUT--> 