<!-- BEGIN LAYOUT--> 
<layout name="layout" />
	<!-- BEGIN CONTAINER -->
	
	<div class="page-container  page-full-width">
	
		<!-- 页面光被导航栏覆盖掉 -->
		
		<div style="margin-top:42px;">
		
		<!-- BEGIN PAGE -->
	
		<div class="page-content">
		
			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">
			
				<br>
				
				<!-- BEGIN PAGE CONTENT-->
		
					<div class="row-fluid">
		
						<div class="span12">
		
							<!-- BEGIN EXAMPLE TABLE PORTLET-->
		
							<div class="portlet box light-grey">
		
								<div class="portlet-title">
		
									<div class="caption"><i class="icon-globe"></i>{$pagetitle}</div>
		
									<div class="tools">
		
										<a href="javascript:;" class="collapse"></a>
		
									</div>
		
								</div>
		
								<div class="portlet-body">
		
									<div class="clearfix">
		
										<div class="btn-group">
											<a id="lc_manager_export_oa" href="{:U('Manager/export')}"  class="btn green" class="btn black">
		
												 {$Think.lang.lc_export_oa} <i class="icon-external-link"></i>
		
											</a>
										</div>
		
									</div>
		
								</div>
		
							</div>
		
							<!-- END EXAMPLE TABLE PORTLET-->
		
						</div>
		
					<!-- END PAGE CONTENT-->
				
				</div>
			
				<!-- END PAGE CONTAINER--> 

			</div>
	
		<!-- END PAGE -->
		</div>
		
	</div>

	<!-- END CONTAINER -->
	
</div>

<!-- END LAYOUT-->

