<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
		<script src="view/front/bootstrap/js/jquery-1.11.2.min.js"></script>
		<!-- 引入 Bootstrap -->
		<link href="view/front/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<script src="view/front/bootstrap/js/bootstrap.min.js"></script>
		<!-- 引入 自定义样式表 -->
		<link href="view/front/usercss/l_style.css" rel="stylesheet">
		<!-- 引入 自定义样式表 -->
		<script src="view/front/userjs/l_script.js"></script>
		<!-- 包括所有已编译的插件 -->
		<link href="view/front/usercss/meidastyles.css" rel="stylesheet">
		<!-- HTML5 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
		<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
		<!--[if lt IE 9]>
		 <script src="view/front/bootstrap/js/html5.js"></script>
		 <script src="view/front/bootstrap/js/respond.src.js"></script>
		<![endif]-->
		<title>众智翻译库-搜过结果</title>
		<link rel="shortcut icon" href="favicon.ico" />
		<meta name="keywords" content="smartgen,genset controller,generator controller,ats,ats controller,auto battery charger,genset control panel,engine heater,remote control,genset synchronization unit,hgm6110k,hgm6120k,hat600,,panel manufactory,ats manufaction,battery charger manufactory">
		<meta name="description" content="Smartgen Technology Co., Ltd. was established in 1998, is specialized in the research, manufacture, sale and service of generator set automation control and ATS control and its related business. Our annual output of product  has exceeded 100 thousand and the market share in China ranks first over the years.">
	</head>
	<body>
		<?php include(ROOT.'top.php');?>
		<br><br>
		<div class="container">
			<div class="row">
				<table class="table table-hover">
				   <thead>
					  <tr>
						 <th class="text-center">中文</th>
						 <th class="text-center">英文</th>
						 <th class="text-center">英文简写</th>
						 <th class="text-center">西班牙文</th>
						 <th class="text-center">日文</th>
						 <th class="text-center">俄文</th>
						 <th class="text-center">备注</th>
						 <th class="text-center">类型</th>
					  </tr>
				   </thead>
				   <tbody>
				   <?php if(!empty($data)){
							foreach($data as $value){
						?>
				   	<tr>
						 <td class="text-center"><?php echo $value['cn']?></td>
						 <td class="text-center"><?php echo $value['en']?></td>
						 <td class="text-center"><?php echo $value['abben']?></td>
						 <td class="text-center"><?php echo $value['sp']?></td>
						 <td class="text-center"><?php echo $value['jp']?></td>
						 <td class="text-center"><?php echo $value['ru']?></td>
						 <td class="text-center"><?php echo $value['remarks']?></td>
						 <td class="text-center"><?php echo $value['flag']==1?"研发":"办公"?></td>
					</tr>
					<?php }}else{?>
						<tr>
							 <td class="text-center" colspan="8">没有找到记录!</td>
						</tr>
					<?php }?>
				   </tbody>
			   </table>
			</div>
			<div class="row">
				<div class="col-xs-12" align="center">
					<ul class="pagination pagination-lg">
					  <li><a href="search.php?page=1&keyword=<?php echo $keyword;?>" title="<?php echo $product_Fistpage;?>">&laquo;</a></li>
					  <?php echo $pagecode; ?>
					  <li><a href="search.php?page=<?php echo $lastpage;?>&keyword=<?php echo $keyword;?>"title="<?php echo $product_Lastpage;?>">&raquo;</a></li>
					</ul>
				</div>
			</div>
		</div>
		
	</body>
</html>
