<div style="background-color:#666666; margin-top:-20px;">
	<br><br>
	<div class="container">
		<div class="row">
			<!--LOGO-->
			<div class="col-xs-12">
				<a href="index.php">
				<img src="view/front/userimage/l_logo.png" style="margin:0px auto;" class="img-responsive">
				</a>
			</div>
		</div>
		<br>
		<h3 class="text-center" style="color:#FFFFFF"><strong>众智翻译库</strong></h3>
		<br>
		<div class="row">
			<!--搜索框-->
			<div class="col-xs-12">
				<form class="bs-example bs-example-form" role="form" method="get" action="search.php">
					
					<div class="input-group col-xs-12 col-sm-6" style="margin:0px auto;">
						<input name="keyword" type="text" style="border-radius:5px;" class="form-control" value="<?php echo $keyword; ?>" />
									
					</div>
				</form>
			</div>
		</div>
	</div>
	<br><br>
</div>
