<!-- BEGIN LAYOUT--> 
<layout name="layout" />
	<!-- BEGIN CONTAINER -->
	
	<div class="page-container  page-full-width">
	
		<!-- 页面光被导航栏覆盖掉 -->
		
		<div style="margin-top:42px;">
		
		<!-- BEGIN PAGE -->
	
		<div class="page-content">
		
		<!-- BEGIN PAGE CONTAINER-->
		
			<div class="container-fluid">
			
				<br>
				
				<!-- BEGIN PAGE CONTENT-->
		
					<div class="row-fluid">
		
						<div class="span12">
		
							<!-- BEGIN EXAMPLE TABLE PORTLET-->
		
							<div class="portlet box light-grey">
		
								<div class="portlet-title">
		
									<div class="caption"><i class="icon-globe"></i>{$Think.lang.lc_manager}</div>
		
									<div class="tools">
		
										<a href="javascript:;" class="collapse"></a>
		
									</div>
		
								</div>
								<div class="portlet-body form">
						
									<!-- BEGIN FORM-->
		
									<form action="{:U('Group/access')}" method="post"  class="form-horizontal">
		
										<table class="table table-striped table-bordered table-hover">
			
											<tbody>
												<tr class="odd gradeX">
													<td>
														<foreach name="managerlist" item="m">
															
																<input type="checkbox" class="checkboxes" name="manager_ids[]" value="{$m['id']}" <if condition="in_array($m['id'],$access_data)"> checked="checked"</if>/>{$m['name']}&nbsp;&nbsp;
						
															
														</foreach>
													</td>
												</tr>
											</tbody>
			
										</table>
										
										<input type="hidden" name="group_id" value="{$id}"/>
										<div class="form-actions">
		
											<button type="submit" class="btn green">修改</button>
		
										</div>
		
									</form>
		
									<!-- END FORM-->
		
								</div>
		
							</div>
		
							<!-- END EXAMPLE TABLE PORTLET-->
		
						</div>
		
					<!-- END PAGE CONTENT-->
				
				</div>
			
				<!-- END PAGE CONTAINER--> 

			</div>
	
		<!-- END PAGE -->
		</div>
		
	</div>

	<!-- END CONTAINER -->
</div>
<!-- END LAYOUT-->
