.hei{background-color:#000000; border:1px #999999 solid; color:#FFFFFF; height:30px;}
.hong{background-color:#FF0000; border:1px #999999 solid; color:#FFFFFF; height:30px;}
.lan{background-color:#0000FF; border:1px #999999 solid; color:#FFFFFF; height:30px;}
.hongqiu{background-color:#FF0000;color:#FFFFFF;}
.lanqiu{background-color:#0000FF;color:#FFFFFF;}
#shuang tr td{border:1px #999999 solid; height:30px;}
#da tr td{border:1px #999999 solid; height:30px;}