<!-- BEGIN LAYOUT--> 
<layout name="layout" />
	<!-- BEGIN CONTAINER -->
	
	<div class="page-container  page-full-width">
	
		<!-- 页面光被导航栏覆盖掉 -->
		
		<div style="margin-top:42px;">
		
		<!-- BEGIN PAGE -->
	
		<div class="page-content">
		
			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">
			
				<br>
				
				<!-- BEGIN PAGE CONTENT-->
		
					<div class="row-fluid">
		
						<div class="span12">
		
							<!-- BEGIN EXAMPLE TABLE PORTLET-->
		
							<div class="portlet box light-grey">
		
								<div class="portlet-title">
		
									<div class="caption"><i class="icon-globe"></i>{$pagetitle}</div>
		
									<div class="tools">
		
										<a href="javascript:;" class="collapse"></a>
		
									</div>
		
								</div>
		
								<div class="portlet-body">
		
									<div class="clearfix">
		
										<div class="btn-group">
											<button id="lc_fanxiuaudit_edit" name="{:U('Fanxiuaudit/edit')}"  class="btn green">
		
												 {$Think.lang.lc_audit}
		
											</button>
										</div>
		
									</div>
		
									<table class="table table-striped table-bordered table-hover" id="sample_1">
		
										<thead>
					
											<tr>
		
												<th><input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" /></th>
												<th class="hidden-480">接收日期</th>
												<th class="hidden-480">客户</th>
												<th class="hidden-480">业务经理</th>
												<th class="hidden-480">产品型号</th>
												<th class="hidden-480">条码</th>
												<th class="hidden-480">维修次数</th>
												<th class="hidden-480">生产日期</th>
												<th class="hidden-480">产-返(月)</th>
												<th class="hidden-480">处理结果</th>
												<th class="hidden-480">备注</th>
												<th class="hidden-480">修前硬件</th>
												<th class="hidden-480">修前软件</th>
												<th class="hidden-480">修前正</th>
												<th class="hidden-480">修前背</th>
												<th class="hidden-480">故障现象</th>
												<th class="hidden-480">维修过程</th>
												<th class="hidden-480">修后软件</th>
												<th class="hidden-480">修后正</th>
												<th class="hidden-480">修后背</th>
												<th class="hidden-480">功能</th>
												<th class="hidden-480">包装</th>
												<th class="hidden-480">不良分类</th>
												<th class="hidden-480">原因分析</th>
												<th class="hidden-480">改进方案</th>
												<th class="hidden-480">状态</th>
											</tr>
		
										</thead>
		
										<tbody>
											
											<foreach name="datalist" item="d">
												<tr class="odd gradeX">
													<td><input type="checkbox" class="checkboxes" value="{$d['id']}" /></td>
													<td>{$d['receive_date']}</td>
													<td>{$d['customer']}</td>
													<td>{$d['person']}</td>
													<td>{$d['product']}</td>
													<td>{$d['barcode']}</td>
													<td>{$d['cishu']}</td>
													<td>{$d['pdate']}</td>
													<td>{$d['prdate']}</td>
													<td>{$d['result']}</td>
													<td>{$d['remark']}</td>
													<td>{$d['hv']}</td>
													<td>{$d['sv']}</td>
													<td><notempty name="d.qz"><a href="__PUBLIC__/{$d['qz']}" target="_blank">查看</a></notempty></td>
													<td><notempty name="d.qb"><a href="__PUBLIC__/{$d['qb']}" target="_blank">查看</a></notempty></td>
													<td>{$d['fault']}</td>
													<td>{$d['maint']}</td>
													<td>{$d['hsv']}</td>
													<td><notempty name="d.hz"><a href="__PUBLIC__/{$d['hz']}" target="_blank">查看</a></notempty></td>
													<td><notempty name="d.hb"><a href="__PUBLIC__/{$d['hb']}" target="_blank">查看</a></notempty></td>
													<td><notempty name="d.gongneng"><a class="gongneng" name="{$d['id']}">查看</a></notempty></td>
													<td><notempty name="d.baozhuang"><a class="baozhuang" name="{$d['id']}">查看</a></notempty></td>
													<td><notempty name="d.bad">{$d['bad']}</notempty></td>
													<td>{$d['bad_cause']}</td>
													<td>{$d['improve']}</td>
													<td>{$d['flag']}</td>
												</tr>
											
											</foreach>
		
										</tbody>
		
									</table>
									<!--功能记录预览层开始-->
									
									<div id="gongneng_view" name="{:U('Fanxiugongneng/disgongneng')}" class="modal hide fade" tabindex="-1" data-width="760">

										<div class="modal-header">
	
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	
											<h3>功能检验记录</h3>
	
										</div>
	
										<div class="modal-body">
	
											<div class="row-fluid">
	
												<div class="span12">
	
													<label id="lab_gongneng_view" class="span12 m-wrap"></label>
	
												</div>
	
											</div>
	
										</div>
	
									</div>

									<!--功能记录预览层结束-->
									<!--包装记录预览层开始-->
									
									<div id="baozhuang_view" name="{:U('Fanxiubaozhuang/disbaozhuang')}" class="modal hide fade" tabindex="-1" data-width="760">

										<div class="modal-header">
	
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	
											<h3>包装检验记录</h3>
	
										</div>
	
										<div class="modal-body">
	
											<div class="row-fluid">
	
												<div class="span12">
	
													<label id="lab_baozhuang_view" class="span12 m-wrap"></label>
	
												</div>
	
											</div>
	
										</div>
	
									</div>

									<!--包装记录预览层结束-->
									<!--添加数据层开始-->
									
									<div id="add" style="display:none;" title="添加菜单">
									<br>
										<div class="row-fluid">
		
											<div class="span12">
						
												<!-- BEGIN VALIDATION STATES-->
						
												<div class="portlet box green">
						
													<div class="portlet-title">
						
														<div class="caption"><i class="icon-reorder"></i>添加菜单</div>
														<div class="tools">
		
															<button id="removeadd" class="btn mini black">关闭</button>
						
														</div>
		
		
													</div>
						
													<div class="portlet-body form">
						
														<!-- BEGIN FORM-->
						
														<form name="{:U('Nav/add')}" id="form_nav_add" class="form-horizontal">
						
															<div class="alert alert-error hide">
						
																<button class="close" data-dismiss="alert"></button>
						
																您输入的信息有误，请重新输入！
						
															</div>
						
															<div class="alert alert-success hide">
						
																<button class="close" data-dismiss="alert"></button>
						
																完成验证！
						
															</div>
															
															<div class="control-group">
						
																<label class="control-label">父菜单<span class="required">*</span></label>
						
																<div class="controls">
						
																	<select class="span6 m-wrap" id="nav_pid_a" name="nav_pid_a">
																		<option value="0" <eq name="Think.session.add_nav_pid" value="0">selected="selected"</eq>>根菜单</option>
																		<foreach name="navlist" item="n">
																			
																			<option value="{$n['id']}" <eq name="Think.session.add_nav_pid" value="$n['id']">selected="selected"</eq>>{$n['_name']}</option>
																		
																		</foreach>
						
																	</select>
						
																</div>
						
															</div>
						
															<div class="control-group">
						
																<label class="control-label">菜单名<span class="required">*</span></label>
						
																<div class="controls">
						
																	<input type="text" name="nav_name_a" id="nav_name_a" data-required="1" class="span6 m-wrap" value="{$Think.session.add_nav_name}"/>
						
																</div>
						
															</div>
						
															<div class="control-group">
						
																<label class="control-label">链接<span class="required">*</span></label>
						
																<div class="controls">
						
																	<input name="nav_mca_a" id="nav_mca_a" type="text" class="span6 m-wrap" value="{$Think.session.add_nav_mca}"/>
						
																</div>
						
															</div>
						
															<div class="control-group">
						
																<label class="control-label">图标</label>
						
																<div class="controls">
						
																	<input name="nav_ico_a" id="nav_ico_a" type="text" class="span6 m-wrap" value="{$Think.session.add_nav_ico}"/>
						
																</div>
						
															</div>
															<div class="control-group">
						
																<label class="control-label">颜色</label>
						
																<div class="controls">
						
																	<input name="nav_color_a" id="nav_color_a" type="text" class="span6 m-wrap" value="{$Think.session.add_nav_color}"/>
						
																</div>
						
															</div>
															<div class="control-group">
						
																<label class="control-label">排序</label>
						
																<div class="controls">
						
																	<input name="nav_order_number_a" id="nav_order_number_a" type="text" class="span6 m-wrap" value=""/>
						
																</div>
						
															</div>
															
															<div class="form-actions">
						
																<button type="submit" class="btn green">添加</button>
						
															</div>
						
														</form>
						
														<!-- END FORM-->
						
													</div>
						
												</div>
						
												<!-- END VALIDATION STATES-->
						
											</div>
						
										</div>
		
		
										
									</div>
									
									<!--添加数据层结束-->
									
									<!--修改数据层开始-->
									
									<div id="edit" style="display:none;" title="修改用户">
									<br>
										<div class="row-fluid">
		
											<div class="span12">
						
												<!-- BEGIN VALIDATION STATES-->
						
												<div class="portlet box green">
						
													<div class="portlet-title">
						
														<div class="caption"><i class="icon-reorder"></i>修改用户</div>
														<div class="tools">
		
															<button id="removeedit" class="btn mini black">关闭</button>
						
														</div>
		
		
													</div>
						
													<div class="portlet-body form">
						
														<!-- BEGIN FORM-->
						
														<form name="{:U('Nav/edit')}" id="form_nav_edit" class="form-horizontal">
						
															<div class="alert alert-error hide">
						
																<button class="close" data-dismiss="alert"></button>
						
																您输入的信息有误，请重新输入！
						
															</div>
						
															<div class="alert alert-success hide">
						
																<button class="close" data-dismiss="alert"></button>
						
																完成验证！
						
															</div>
						
															<div class="control-group">
						
																<label class="control-label">父菜单<span class="required">*</span></label>
						
																<div class="controls">
						
																	<select class="span6 m-wrap" id="nav_pid_e" name="nav_pid_e">
																		<option value="0">根菜单</option>
																		<foreach name="navlist" item="n">
																			
																			<option value="{$n['id']}">{$n['_name']}</option>
																		
																		</foreach>
						
																	</select>
						
																</div>
						
															</div>
						
															<div class="control-group">
						
																<label class="control-label">菜单名<span class="required">*</span></label>
						
																<div class="controls">
						
																	<input type="text" name="nav_name_e" id="nav_name_e" data-required="1" class="span6 m-wrap" value=""/>
						
																</div>
						
															</div>
						
															<div class="control-group">
						
																<label class="control-label">链接<span class="required">*</span></label>
						
																<div class="controls">
						
																	<input name="nav_mca_e" id="nav_mca_e" type="text" class="span6 m-wrap" value=""/>
						
																</div>
						
															</div>
						
															<div class="control-group">
						
																<label class="control-label">图标</label>
						
																<div class="controls">
						
																	<input name="nav_ico_e" id="nav_ico_e" type="text" class="span6 m-wrap" value=""/>
						
																</div>
						
															</div>
															<div class="control-group">
						
																<label class="control-label">颜色</label>
						
																<div class="controls">
						
																	<input name="nav_color_e" id="nav_color_e" type="text" class="span6 m-wrap" value=""/>
						
																</div>
						
															</div>
															
															<div class="control-group">
						
																<label class="control-label">排序</label>
						
																<div class="controls">
						
																	<input name="nav_order_number_e" id="nav_order_number_e" type="text" class="span6 m-wrap" value=""/>
						
																</div>
						
															</div>
															<input type="hidden" id="nav_id_e"/>
															<div class="form-actions">
						
																<button type="submit" class="btn green">修改</button>
						
															</div>
						
														</form>
						
														<!-- END FORM-->
						
													</div>
						
												</div>
						
												<!-- END VALIDATION STATES-->
						
											</div>
						
										</div>
		
		
										
									</div>
									
									<!--修改数据层结束-->
		
								</div>
		
							</div>
		
							<!-- END EXAMPLE TABLE PORTLET-->
		
						</div>
		
					<!-- END PAGE CONTENT-->
				
				</div>
			
				<!-- END PAGE CONTAINER--> 

			</div>
	
		<!-- END PAGE -->
		</div>
		
	</div>

	<!-- END CONTAINER -->
	
</div>

<!-- END LAYOUT--> 