<!-- BEGIN LAYOUT--> 
<layout name="layout" />
	<!-- BEGIN CONTAINER -->
	
	<div class="page-container  page-full-width">
	
		<!-- 页面光被导航栏覆盖掉 -->
		
		<div style="margin-top:42px;">
		
			<!-- BEGIN PAGE -->
		
			<div class="page-content">
				
				<!-- BEGIN PAGE CONTAINER-->
				
				<div class="container-fluid">
					
						<!-- BEGIN PAGE CONTENT-->

						<div class="row-fluid">
		
							<div class="span12 blog-page">
		
								<div class="row-fluid">
		
										<h3><b>SG-ISP简介</b></h3>
		
		
										<div>
		
											<p><h4>SG-ISP中文名称为众智信息化服务平台（SmartGen Information Service Platform）</h4></p>
		
		
											<p><h4>本平台旨在集成公司内部数据，以信息化方式为用户提供更加方便、快捷的服务。</h4></p>
											
											<p><h4>技术支持：联系企划部-刘超：15286801497<br><br>
		
										</div>
		
									<!--end span9-->
		
								</div>
		
							</div>
		
						</div>
		
						<!-- END PAGE CONTENT-->
		
					</div>
		
					<!-- END PAGE CONTAINER--> 

			</div>
	
			<!-- END PAGE -->
		
		</div>
		
	</div>

	<!-- END CONTAINER -->
	
</div>

<!-- END LAYOUT-->


