<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

<!-- BEGIN CORE PLUGINS -->

<script src="__PUBLIC__/media/js/jquery-1.10.1.min.js" type="text/javascript"></script>

<script src="__PUBLIC__/media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

<script src="__PUBLIC__/media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>      

<script src="__PUBLIC__/media/js/bootstrap.min.js" type="text/javascript"></script>

<!--[if lt IE 9]>

<script src="__PUBLIC__/media/js/excanvas.min.js"></script>

<script src="__PUBLIC__/media/js/respond.min.js"></script>  

<![endif]-->   

<script src="__PUBLIC__/media/js/jquery.slimscroll.min.js" type="text/javascript"></script>

<script src="__PUBLIC__/media/js/jquery.blockui.min.js" type="text/javascript"></script>  

<script src="__PUBLIC__/media/js/jquery.cookie.min.js" type="text/javascript"></script>

<script src="__PUBLIC__/media/js/jquery.uniform.min.js" type="text/javascript" ></script>

<!-- END CORE PLUGINS -->

<!-- BEGIN PAGE LEVEL PLUGINS -->

<script type="text/javascript" src="__PUBLIC__/media/js/select2.min.js"></script>

<script type="text/javascript" src="__PUBLIC__/media/js/jquery.dataTables.js"></script>

<script type="text/javascript" src="__PUBLIC__/media/js/DT_bootstrap.js"></script>

<script type="text/javascript" src="__PUBLIC__/media/js/jquery.validate.min.js"></script>

<script type="text/javascript" src="__PUBLIC__/media/js/additional-methods.min.js"></script>

<script type="text/javascript" src="__PUBLIC__/media/js/bootstrap-modal.js"></script>

<script type="text/javascript" src="__PUBLIC__/media/js/bootstrap-modalmanager.js" ></script>

<script type="text/javascript" src="__PUBLIC__/media/js/select2.min.js"></script>

<script type="text/javascript" src="__PUBLIC__/media/js/chosen.jquery.min.js"></script>

<script type="text/javascript" src="__PUBLIC__/media/js/fullcalendar.min.js"></script>




<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->

<script src="__PUBLIC__/media/js/app.js" type="text/javascript"></script>

<script src="__PUBLIC__/media/js/index.js" type="text/javascript"></script>

<script src="__PUBLIC__/media/js/table-managed.js"></script>

<script src="__PUBLIC__/media/js/form-validation.js"></script>

<script src="__PUBLIC__/media/js/ui-modals.js"></script>

<script src="__PUBLIC__/media/js/table-editable.js"></script>

<script src="__PUBLIC__/media/js/calendar.js"></script> 

<!--
<script type="text/javascript" src="__PUBLIC__/media/js/chosen.jquery.min.js"></script>

<script type="text/javascript" src="__PUBLIC__/media/js/bootstrap-datepicker.js"></script>


<script src="__PUBLIC__/media/js/form-components.js"></script>
<script type="text/javascript" src="__PUBLIC__/media/lc/jquery/ui/smoothness/external/jquery/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/media/lc/jquery/ui/smoothness/jquery-ui.js"></script>


<script type="text/javascript" src="__PUBLIC__/media/lc/jquery/ui/smoothness/external/jquery/jquery.js"></script>

<script type="text/javascript" src="__PUBLIC__/media/lc/jquery/ui/smoothness/jquery-ui.js"></script>
-->
        

<!-- END PAGE LEVEL SCRIPTS -->  

<!--用户自定义脚本开始-->

<script src="__PUBLIC__/media/lc/js/manager.js"></script>
<!--导航脚本-->
<script src="__PUBLIC__/media/lc/js/nav.js"></script>
<!--部门脚本-->
<script src="__PUBLIC__/media/lc/js/dept.js"></script>
<!--权限脚本-->
<script src="__PUBLIC__/media/lc/js/rule.js"></script>
<!--用户组脚本-->
<script src="__PUBLIC__/media/lc/js/group.js"></script>
<!--OEM脚本-->
<script src="__PUBLIC__/media/lc/js/oem.js"></script>
<!--工作计划脚本-->
<script src="__PUBLIC__/media/lc/js/workplan.js"></script>
<!--翻译库脚本-->
<script src="__PUBLIC__/media/lc/js/tlibrary.js"></script>
<!--下发文件脚本-->
<script src="__PUBLIC__/media/lc/js/sendfile.js"></script>
<!--生产计划脚本-->
<script src="__PUBLIC__/media/lc/js/pschedule.js"></script>
<!--焊接工序脚本-->
<script src="__PUBLIC__/media/lc/js/hanjie.js"></script>
<!--初试工序脚本-->
<script src="__PUBLIC__/media/lc/js/chushi.js"></script>
<!--出厂工序脚本-->
<script src="__PUBLIC__/media/lc/js/chuchang.js"></script>
<!--包装工序脚本-->
<script src="__PUBLIC__/media/lc/js/baozhuang.js"></script>
<!--入库类型脚本-->
<script src="__PUBLIC__/media/lc/js/rukuleixing.js"></script>
<!--培训计划管理脚本-->
<script src="__PUBLIC__/media/lc/js/train.js"></script>
<!--U8发货汇总脚本-->
<script src="__PUBLIC__/media/lc/js/fahuo.js"></script>
<!--返修登记脚本-->
<script src="__PUBLIC__/media/lc/js/fanxiud.js"></script>
<!--栏目设置脚本-->
<script src="__PUBLIC__/media/lc/js/column.js"></script>
<!--返修栏目设置脚本-->
<script src="__PUBLIC__/media/lc/js/columnset.js"></script>
<!--返修后脚本-->
<script src="__PUBLIC__/media/lc/js/fanxiuh.js"></script>
<!--质检审核脚本-->
<script src="__PUBLIC__/media/lc/js/fanxiuquality.js"></script>
<!--领导审核脚本-->
<script src="__PUBLIC__/media/lc/js/fanxiuaudit.js"></script>
<!--返修分析脚本-->
<script src="__PUBLIC__/media/lc/js/fanxiucause.js"></script>
<!--返修台帐脚本-->
<script src="__PUBLIC__/media/lc/js/fanxiu.js"></script>
<!--邮件发送脚本-->
<script src="__PUBLIC__/media/lc/js/automail.js"></script>
<!--返修公告脚本-->
<script src="__PUBLIC__/media/lc/js/fanxiugonggao.js"></script>
<!--发货时效脚本-->
<script src="__PUBLIC__/media/lc/js/fahuoshixiao.js"></script>
<!--固定资产脚本-->
<script src="__PUBLIC__/media/lc/js/zichan.js"></script>

<script src="__PUBLIC__/media/lc/js/main.js"></script>

<!--用户自定义脚本结束-->

<script>

	jQuery(document).ready(function() {    

	   App.init(); // initlayout and core plugins

	   Index.init();
	   
	   TableManaged.init();
	   
	   UIModals.init();
	   //FormComponents.init();
	   
	   FormValidation.init();
	   
	   TableEditable.init();
	   
	   Calendar.init();
	   
	   //Index.initJQVMAP(); // init index page's custom scripts

	   //Index.initCalendar(); // init index page's custom scripts

	   //Index.initCharts(); // init index page's custom scripts

	   //Index.initChat();

	   //Index.initMiniCharts();

	   //Index.initDashboardDaterange();

	   //Index.initIntro();

	});

</script>
<!--第三方插件开始-->
<!--echarts-->
<script src="__PUBLIC__/media/lc/js/echarts-all.js"></script>
<!--第三方插件结束-->
<!--工序产量-->
<script src="__PUBLIC__/media/lc/js/qiankuan.js"></script>
<!--工序产量-->
<script src="__PUBLIC__/media/lc/js/fukuan.js"></script>
<!-- END JAVASCRIPTS -->